<div class="row justify-content-center margin-top-dix-pourcents" *ngIf="mdpOublie == true">
    <form class="border border-light p-5 col-7" name="form" (ngSubmit)="o.form.valid && onMdpOublie()" #o="ngForm" novalidate>
      <p class="h4 mb-4 text-center">Mot de passe oublié</p>
      <div class="form-group">
          <label for="mail">E-mail</label>
          <input id="mail" type="mail" class="form-control" name="mail" [(ngModel)]="utilisateur.user.login" #mail="ngModel" [ngClass]="{ 'is-invalid': o.submitted && mail.invalid }" required />
          <div *ngIf="o.submitted && mail.invalid" class="invalid-feedback">
              <div *ngIf="mail.errors.required">L'adresse mail est obligatoire.</div>
          </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">Valider</button>
      </div>
      <div class="color-font-red">{{message}}</div>
    </form>
</div>