<div class="row justify-content-center margin-top-dix-pourcents" *ngIf="forceChangePwd == true">
    <form class="border border-light p-5 col-7" name="form" (ngSubmit)="p.form.valid && onChangePwd()" #p="ngForm" novalidate>
      <p class="h4 mb-4 text-center">Première connexion</p>
      <p class="h5 mb-4 text-center">Changement de mot de passe requis</p>
      <div class="form-group">
          <label for="motDePasseChg">Mot de passe</label>
          <input id="motDePasseChg" type="password" class="form-control" name="motDePasseChg" [(ngModel)]="utilisateur.user.pwd" #motDePasseChg="ngModel" [ngClass]="{ 'is-invalid': p.submitted && motDePasseChg.invalid }" required />
          <div *ngIf="p.submitted && motDePasseChg.invalid" class="invalid-feedback">
              <div *ngIf="motDePasseChg.errors.required">Le mot de passe est obligatoire.</div>
          </div>
      </div>
      <div class="form-group">
          <label for="verificationMotDePasse">Vérification mot de passe</label>
          <input id="verificationMotDePasse" type="password" class="form-control" name="verificationMotDePasse" [(ngModel)]="utilisateur.verificationMotDePasse" #verificationMotDePasse="ngModel" [ngClass]="{ 'is-invalid': p.submitted && verificationMotDePasse.invalid }" required />
          <div *ngIf="p.submitted && verificationMotDePasse.invalid" class="invalid-feedback">
              <div *ngIf="verificationMotDePasse.errors.required">La vérification du mot de passe est obligatoire.</div>
          </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">Valider</button>
      </div>
      <div class="color-font-red">{{message}}</div>
    </form>
</div>